@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
  --color-primario: #bfec75;
  
  --color-secundario: #EBEBEB;
  
  --color-negro: #1D1D27;
}

:root {
  --color-primario: #bfec75;
  
  --color-secundario: #EBEBEB;
  
  --color-negro: #262626;
}

@font-face {
  font-family: 'nyghtserif';
  src: url('/fonts/NygthSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}