---
import LayoutVacio from '../layouts/LayoutVacio.astro';
---

<LayoutVacio
    title="Políticas de Privacidad - GardenGym"
    description="Políticas de Privacidad de GardenGym. Conocé cómo protegemos tu información personal y tus derechos como usuario."
>
    <div class="flex flex-col gap-6 max-w-6xl mx-auto px-6 py-12">
        <h1 class="text-4xl">
            Políticas de Privacidad
        </h1>
        <p class="text-sm">
            gardengym , te informa como titular y responsable del tratamiento de datos personales que ésta cumple con la normativa europea y nacional de protección de datos personales y en base al principio de transparencia e información lleva a cabo el siguiente esquema de tratamiento de datos personales y ponerlo a disposición de los usuarios de una forma sencilla y clara. <br><br>

            De igual forma, te informamos que los datos personales tratados por gardengym serán minimizados lo máximo posible para cada una de las finalidades expuestas, tratando aquellos con la menor o indispensable información asociada a la identificación personal para la correcta prestación del servicio o solicitud del interesado.<br><br>

            Información sobre el Tratamiento de Datos Personales<br><br>

            Responsable del Tratamiento<br><br>

            gardengym<br><br>

            Remisión de boletines informativos o newsletter.<br><br>

            Gestión de plataformas sociales titularidad o asociadas a gardengym<br><br>

            Cookies propias y de terceros basadas en preferencias.<br><br>

            Contacto<br><br>

            Alta en nuestra web o medios sociales.<br><br>

            En todo caso, en cada uno de los formularios que incluimos en nuestra página web, se especifica la finalidad para la cual serán utilizados los mismos, de forma sencilla y clara, de tal forma que el interesado siempre pueda tener el control sobre sus datos personales.<br><br>

            Base Jurídica<br><br>

            Artículo 6.1 a) RGPD. Consentimiento interesado.<br><br>

            Artículo 6.1b) RGPD. Para la ejecución de un contrato.<br><br>

            Artículo 6.1.d) RGPD. Para el cumplimiento de intereses legítimos.<br><br>

            Ejercicio de Derechos<br><br>

            Se reconocen los derechos afectos de acceso, rectificación, cancelación, oposición, supresión, limitación, portabilidad a través de la dirección electrónica ejemplo@gardengym.com<br><br>

            Desistimiento<br><br>

            Gratuito a petición del afectado.<br><br>

            Conservación<br><br>

            Los datos personales serán conservados durante el mínimo plazo necesario, dependiendo la responsabilidad que pudiere derivar y, aquellos tratamientos que no afecten a la responsabilidad civil, mercantil y/o fiscal serán conservados por plazo no superior a 13 meses.<br><br>

            Destinatarios<br><br>

            Encargados de tratamiento –hosting.<br><br>

            Reclamación<br><br>

            Podrá dirigir sus reclamaciones en materia de protección de datos ante la Agencia Española de Protección de Datos www.agpd.es.<br><br>

            Comunicación de Datos<br><br>

            No se prevén comunicaciones de datos que no se encuentren amparada en imperativo legal.<br><br>

            Información Adicional<br><br>

            gardengym<br><br>

            © 2025. gardengym TODOS LOS DERECHOS RESERVADOS
        </p>
    </div>
</LayoutVacio>