---
import LayoutVacio from '../layouts/LayoutVacio.astro';
---

<LayoutVacio
    title="Términos y Condiciones - GardenGym"
    description="Términos y Condiciones de GardenGym. Conocé las condiciones de uso de nuestras instalaciones y servicios."
>
    <div class="flex flex-col gap-6 max-w-6xl mx-auto px-6 py-12">
        <h1 class="text-4xl">
            Términos y Condiciones
        </h1>
        <p class="text-sm">
            Transparencia GDPR<br><br>

            RECOGIDA<br><br>

            Se recaban datos personales para que los usuarios libre, voluntaria y gratuitamente puedan acceder a nuestra web.<br><br>

            FINALIDAD<br><br>

            Exclusivamente se tratan los datos con la finalidad de dar respuesta a vuestras consultas o enviar información asociada a gardengym<br><br>

            DESTINATARIOS<br><br>

            El único destinatario es gardengym no previéndose cesiones de datos a terceros.<br><br>

            SEGURIDAD<br><br>

            Los datos personales e información asociada se almacena cifrada y en servidores seguros.<br><br>

            DERECHOS<br><br>

            Le son reconocidos los derechos de acceso, rectificación, supresión, olvido, oposición, limitación y portabilidad.<br><br>

            RECLAMACIONES<br><br>

            Podrán dirigirse reclamaciones ante la Agencia Española de Protección de Datos.<br><br>

            DESESTIMIENTO<br><br>

            Podrá desistir en cualquier momento y de forma gratuita del consentimiento otorgado.<br><br>

            CONSERVACIÓN<br><br>

            Los datos se mantendrán hasta concluir la finalidad para la cual se han recabado y hasta 13 meses desde que finalizara la misma.<br><br>

            INFORMACIÓN ADICIONAL<br><br>

            Para nosotros, su privacidad es muy importante por eso queremos que su experiencia sea lo más agradable posible.<br><br>

            Hemos creado esta política para demostrar nuestro compromiso con su seguridad.<br><br>

            Nosotros guardamos la información de los visitantes que buscan información, recibir boletines, noticias, etc, pero también puede darse de baja en cualquier momento que elijan.<br><br>

            Si solicitan formar parte de este web, su nombre y correo electrónico se almacenan<br><br>

            INTIMIDAD CON RESPECTO A LOS MENORES DE EDAD.<br><br>

            ¿Alguna vez la información es guardada con personas menores de 18 años?<br><br>

            Cuando nos encontramos con que algunos datos pertenecen a este RANGO de edad, se procede de inmediato a la eliminación de esta información.<br><br>

            Se recomienda a los padres tener bajo SUPERVISIÓN a sus hijos al momento de navegar en la Web y la enseñanza hacia estos debe ser que nunca proporcionen su información personal ya sea el nombre, numero de teléfono, dirección, etc.<br><br>

            Sepa siempre los sitios que visitan sus hijos, que sean claros y adecuados para su edad.<br><br>

            Visite el sitio web de la Comisión Federal de Comercio para obtener más información sobre la privacidad de sus hijos en Internet.<br><br>

            http://www.ftc.gov/bcp/conline/edcams/kidzprivacy/index.html
        </p>
    </div>
</LayoutVacio>
