<footer class="mt-16 border-t border-primario w-full flex flex-row gap-120 items-start justify-center px-12 py-4 bg-negro text-white">

    <a href="/" class="flex items-center whitespace-nowrap relative z-10">
        <img src="/gardengym_logo.png" alt="Logo de GardenGym" class="h-30 w-30"/>
    </a>

    <div class="flex flex-col gap-4 items-end justify-end">
        <a href="/privacidad" class="text-secundario">Política de Privacidad</a>
        <a href="/terminos" class="text-secundario">Términos de Servicio</a>
        <a href="/contacto" class="text-secundario">Soporte</a>
    </div>

</footer>