<footer class="flex flex-col py-12 gap-12 justify-center items-center">

    <div class="w-full flex flex-col md:flex-row gap-20 md:gap-120 items-center justify-center px-12 py-4 bg-negro text-white">
        <a href="/" class="flex items-center whitespace-nowrap relative z-10">
            <img src="/gardengym_logo.png" alt="Logo de GardenGym" class="h-30 w-30"/>
        </a>

        <div class="flex flex-col gap-4 items-center md:items-end justify-center md: justify-end text-center">
            <a href="/politicas-privacidad" class="text-secundario hover:text-primario transition-all duration-300">Políticas de Privacidad</a>
            <a href="/terminos-condiciones" class="text-secundario hover:text-primario transition-all duration-300">Términos y Condiciones</a>
            <a href="https://maps.app.goo.gl/BWv5vcU1AGKji5qE8" target="_blank" class="text-secundario hover:text-primario transition-all duration-300">Larrea 2855, Moreno, Provincia de Buenos Aires</a>
            <a href="https://www.instagram.com/gardengymmoreno/" target="_blank" class="text-secundario hover:text-primario transition-all duration-300">Instagram</a>
        </div>        
    </div>


    <div class="bg-primario w-80 md:w-300 h-[1px]"></div>

    <p class="text-xs md:text-sm text-center text-secundario">© 2025. GardenGym - TODOS LOS DERECHOS RESERVADOS</p>

</footer>