<footer class="mt-16 border-t border-primario w-full flex flex-row gap-120 items-start justify-center px-12 py-4 bg-negro text-white">

    <a href="/" class="inline-block whitespace-nowrap text-3xl">
        <span class="font-bold text-secundario">Gym</span><span class="font-bold italic text-primario">Stats</span>
    </a>

    <div class="flex flex-col gap-4 items-end justify-end">
        <a href="/privacidad" class="text-secundario">Política de Privacidad</a>
        <a href="/terminos" class="text-secundario">Términos de Servicio</a>
        <a href="/contacto" class="text-secundario">Soporte</a>
    </div>

</footer>