<header id="header" class="fixed top-4 mx-auto my-0 bg-negro text-white rounded-full px-8 py-4 flex gap-60 items-center z-50 transition-all duration-300">

    <a href="/" class="inline-block whitespace-nowrap text-3xl hover:scale-102 transition-all duration-300">
        <span class="font-bold text-secundario">Gym</span><span class="font-bold italic text-primario">Stats</span>
    </a>

    <ul class="flex gap-20">
        <li><a href="/" class="text-secundario font-semibold hover:text-primario-dark transition-all duration-300">Inicio</a></li>
        <li><a href="/progreso" class="text-secundario font-semibold hover:text-primario-dark transition-all duration-300">Progreso</a></li>
        <li><a href="/cuenta" class="text-secundario font-semibold hover:text-primario-dark transition-all duration-300">Cuenta</a></li>
    </ul>

</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const header = document.getElementById('header');
            
        if (header) {
            window.addEventListener('scroll', function() {
                const scrollY = window.scrollY;
                
                if (scrollY > 100) {
                    header.style.backdropFilter = 'blur(5px)';
                    (header.style as any).webkitBackdropFilter = 'blur(5px)';
                    header.style.border = '1px solid #2D2D3A';
                    header.style.boxShadow = '0 4px 6px rgba(0, 0, 0, 0.1)';
                } else {
                    header.style.backdropFilter = 'none';
                    (header.style as any).webkitBackdropFilter = 'none';
                    header.style.border = '1px solid transparent';
                    header.style.boxShadow = 'none';
                }
            });
        }
    });
</script>