<header class="flex justify-center items-center">
    
    <div id="header" class="fixed top-7 md:top-4 md:mx-auto md:my-0 rounded-full px-4 sm:px-6 md:px-8 py-4 flex justify-center items-center z-50 transition-all duration-300 bg-negro gap-50 lg:gap-80">
        <a href="/" class="hidden md:block">
            <img src="/gardengym_logo.png" alt="Logo de GardenGym" class="h-12 w-12 lg:h-15 lg:w-15"/>
        </a>

        <ul id="nav-links" class="flex gap-8 relative z-10">
            <li><a href="#nosotros" class="text-secundario font-semibold transition-all duration-300 px-2 sm:px-3 py-2 text-sm sm:text-base">Nosotros</a></li>
            <li><a href="#planes" class="text-secundario font-semibold transition-all duration-300 px-2 sm:px-3 py-2 text-sm sm:text-base">Planes</a></li>
            <li><a href="/cuenta" class="text-secundario font-semibold transition-all duration-300 px-2 sm:px-3 py-2 text-sm sm:text-base">Cuenta</a></li>
            
            <div 
                id="menu-backdrop"
                class="
                absolute bg-primario backdrop-blur-sm rounded-full 
                translate-x-[var(--left)] translate-y-[var(--top)]
                left-0 top-0
                w-[var(--width)] h-[var(--height)]
                transition-all duration-300 
                ease-in-out opacity-0 -z-10"
            ></div>
        </ul>        
    </div>

</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const header = document.getElementById('header')
        const navLinks = document.getElementById('nav-links')
        const listItems = document.querySelectorAll("#nav-links li")
        const menuBackdrop = document.getElementById("menu-backdrop") as HTMLElement
            
        listItems.forEach((item) => {

            item.addEventListener("mouseenter", () => {
                const navPos = navLinks?.getBoundingClientRect()
                const itemPos = item.getBoundingClientRect()
                const link = item.querySelector("a")

                if (navPos) {
                    const left = itemPos.left - navPos.left
                    const top = itemPos.top - navPos.top

                    menuBackdrop.style.setProperty("--left", `${left}px`);
                    menuBackdrop.style.setProperty("--top", `${top}px`);
                    menuBackdrop.style.setProperty("--width", `${itemPos.width}px`);
                    menuBackdrop.style.setProperty("--height", `${itemPos.height}px`);

                    menuBackdrop.style.opacity = "1";
                    menuBackdrop.style.visibility = "visible";
                    
                    if (link) {
                        link.style.color = "var(--color-negro)";
                    }
                }
            });

            item.addEventListener("mouseleave", () => {
                const link = item.querySelector("a")
                
                menuBackdrop.style.opacity = "0";
                menuBackdrop.style.visibility = "hidden";

                if (link) {
                    link.style.color = "";
                }
            });
        });

        if (header) {
            window.addEventListener('scroll', function() {
                const scrollY = window.scrollY;
                
                if (scrollY > 100) {
                    header.style.backdropFilter = 'blur(5px)';
                    (header.style as any).webkitBackdropFilter = 'blur(5px)';
                    header.style.border = '1px solid #2E2E2E';
                    header.style.boxShadow = '0 4px 6px rgba(0, 0, 0, 0.2)';
                } else {
                    header.style.backdropFilter = 'none';
                    (header.style as any).webkitBackdropFilter = 'none';
                    header.style.border = '1px solid transparent';
                    header.style.boxShadow = 'none';
                }
            });
        }
    });
</script>