<section class="flex items-center justify-center mt-30 relative">

    <img src="/garden6.jpg" alt="GardenGym Hero Image" class="w-full h-60 md:h-100 object-cover object-top" />
    
    <div class="absolute inset-0 bg-black opacity-80"></div>

    <div class="absolute flex flex-col items-center justify-center z-10">

        <h1 class="text-4xl font-bold text-center text-secundario mb-4">Bienvenid@ a</h1>

        <div class="flex items-center whitespace-nowrap relative z-10">
            <span class="text-6xl font-bold text-secundario">Garden</span><span class="text-7xl italic font-semibold text-primario" style="font-family: 'nyghtserif', serif;">Gym</span>
        </div>

    </div>

</section>