<div id="nosotros" class="flex flex-row items-start gap-60 mt-20 max-w-7xl mx-auto my-0">

    <div class="flex flex-col">
        <div class="flex items-center whitespace-nowrap gap-6 mb-10">
            <h1 class="text-6xl font-bold text-secundario">Acerca de</h1>
            <p class="text-7xl italic font-semibold text-primario mb-1" style="font-family: 'nyghtserif', serif;">nosotros</p>
        </div>

        <p class="text-md text-secundario mb-6">
            <span class="font-bold text-primario">GardenGym</span> abrió en 2020 con una idea simple: ayudar a las personas a sentirse mejor y a disfrutar del movimiento.
            Desde entonces, <span class="font-bold text-primario">somos más que un gimnasio</span>: somos un lugar donde se <span class="font-bold text-primario">entrena</span>, se <span class="font-bold text-primario">comparte</span> y se <span class="font-bold text-primario">respira buena energía</span>.
        </p>

        <p class="text-md text-secundario">
            Contamos con más de 60 equipos de última generación y un equipo de profesores altamente capacitados, con amplia trayectoria y experiencia. 
            Nuestro objetivo es ofrecerte una rutina personalizada, diseñada especialmente para ayudarte a alcanzar tus metas de forma efectiva y segura.
        </p>  

        <div class="flex flex-row gap-4 w-40 mt-10 ">

            <a href="https://www.instagram.com/gardengymmoreno/" target="_blank" class="text-center text-md bg-primario text-negro py-2 px-4 rounded font-bold border-2 border-transparent hover:border-primario hover:bg-transparent hover:text-primario hover:-translate-y-1 transition-all duration-300">¡Contactanos!</a>

            <a href="https://maps.app.goo.gl/BWv5vcU1AGKji5qE8" target="_blank" class="text-center text-md bg-primario text-negro py-2 px-4 rounded font-bold border-2 border-transparent hover:border-primario hover:bg-transparent hover:text-primario hover:-translate-y-1 transition-all duration-300">¡Encontranos!</a>

        </div>
    

    </div>

    <img src="/garden5.jpg" alt="" class="w-120 h-150 object-cover"/>

</div>