<div id="nosotros" class="flex flex-row items-start gap-60 mt-20 max-w-7xl mx-auto my-0">

    <div class="flex flex-col">
        <div class="flex items-center whitespace-nowrap gap-6 mb-10">
            <h1 class="text-6xl font-bold text-secundario">Acerca de</h1>
            <p class="text-7xl italic font-semibold text-primario mb-1" style="font-family: 'nyghtserif', serif;">nosotros</p>
        </div>

        <p class="text-md text-secundario mb-6">
            <span class="font-bold text-primario">GardenGym</span> abrió en 2020 con una idea simple: ayudar a las personas a sentirse mejor y a disfrutar del movimiento.
            Desde entonces, <span class="font-bold text-primario">somos más que un gimnasio</span>: somos un lugar donde se <span class="font-bold text-primario">entrena</span>, se <span class="font-bold text-primario">comparte</span> y se <span class="font-bold text-primario">respira buena energía</span>.
        </p>

        <p class="text-md text-secundario">
            Nos encanta que disfrutes de entrenar al aire libre, rodeado de verde y buena onda. 
            En GardenGym queremos que te sientas cómodo, que te motives, y que cada entrenamiento sea una oportunidad para cuidarte, desconectarte y sentirte mejor día a día.
        </p>  
    </div>

    <img src="/garden5.jpg" alt="" class="w-120 h-150 object-cover"/>

</div>