---
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="description" content="GymStats es una aplicación web para rastrear y analizar tus entrenamientos de gimnasio." />
		<title>GymStats - Seguimiento de Entrenamientos</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: 'Montserrat', sans-serif;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
